*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: darkblue;
}

.header-content{
    background-color: red;
    border: 1px solid black;
    height: 75px;
}



.jumbo-content{
    text-align: center;
    color: white;
}

#jumbotron, 
#about-us,
.btn-green {
    background-color: #1ABC9C;
}

.btn-green{
    color: white;
}

.btn-green:hover{
    background-color: #1ABC9C;
    color: white;
}

.top-footer{
    background-color: rgb(88, 88, 190);
}

.bottom-footer{
    background-color: darkblue;
}
/* classi diverse */

.navbar a{
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.jumbo-content img {
    max-width: 300px;
}

.lines:after,
.lines:before {
    content: " ";
    width: 100px;
    height: 3px;
    display: inline-block;
}

.jumbo-content .lines:after,
.jumbo-content .lines:before,
#about-us .lines:after,
#about-us .lines:before{
    background-color: white;
}

#portfolio .lines:after,
#portfolio .lines:before,
#contact-form .lines:after,
#contact-form .lines:before {
    background-color: black;
}

.content img{
    border-radius: 20px;
}

#about-us .btn-outline-light{
    color: white;
}

#about-us .btn-outline-light:hover{
    color: black;
}

input,
textarea{
    width: 100%;
    padding: 10px 0px;
    border: none;
    border-bottom: 1px solid lightgray;
}

.social i{
    border: 1px solid white;
    border-radius: 50%;
    padding: 40px 20px;
}